* {
    font-family: 'IBM Plex Sans', sans-serif;
}

#content {
    margin: 20px auto;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.13), 0 3px 6px rgba(0, 0, 0, 0.2);
    max-width: 1024px;
}

#heading {
    border: 1px dashed grey;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}

h1 {
    font-weight: 600;
}
